body {
  background-color: lightblue;
}

img {
  height: 10em;
}

h1,
h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.pink {
  background-color: pink;
}

.shout {
  text-transform: uppercase;
}

#bulbasaur {
  background-color: black;
  color: lightcyan;
}

#bulbasaur > :visited {
  color: lightcyan;
}

#first-contact {
  background-color: pink;
  color: green;
}

.colored {
  color: #0000ff;
}

div:before {
  content: "Before";
}

div > p {
  background-color: green;
}

h1:hover {
  color: red;
  cursor: pointer;
}

#hello {
  padding: 20px;
}
